@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-fluid{
  padding: 1% 10%;
  padding-top: 8rem;
  margin-left: 300px ;
}

.oversigt {
  font-size: 1.1rem;
}

h1 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

body {
  min-height: 100%;
  background-color: #E2EBF1;
  color: black;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #E2EBF1;
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
  color: white;
  font-size: 2rem;
  padding-left: 2rem;
}

nav .sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 340px;
  padding: 20px 0;
  background-color: #29268D;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #1980DE;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 1.1rem;
  color: white;
}
.nav-link .link {
  font-size: 1.1rem;
  color: white;
  font-weight: 300;
}

#resetPasswordButton {
  background-color: #1980DE;
  color: white;
  font-size: 1.0rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }