#tables {
    position: relative;
}

#kpitabel {
    margin-bottom: 40px;

    width: 70%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

#avgmed {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 1.1rem;
    text-align: center;
}

th {
    background-color: E2EBF1;
    width: 25%;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

tr {
    border-bottom: 1px solid E2EBF1;
}

td {
    text-align: center;
    padding-bottom: 1rem;
}

tr:nth-child(even) {
    background-color: E2EBF1;
}

button {
    width: 97%;

    border: none;
    border-radius: 5px;

    font-weight: 400;
    font-size: 1.1rem;
    padding: 0.5rem;

    background-color: #187FDE;
    color: white;
}